<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue</title>
		<script src="../../vue.js"></script>
	</head>
	<body>
		<div id = "root">
			<h2>人员列表</h2>
			<input type="text" placeholder="请输入名字" v-model="keyword"/>
			<ul>
				<li v-for="person in filterPersons" :key="person.id">
					{{person.name}} - {{person.age}} - {{person.sex}}
				</li>
			</ul>
		</div>
	</body>
	
	<script>
		Vue.config.productionTip = false
		
		//用watch实现
		// const vm = new Vue({
		// 	el: '#root',
		// 	data: {
		// 		keyword: '',
		// 		persons: [
		// 			{id:'001', name:'马冬梅', sex:'女', age:18},
		// 			{id:'002', name:'周冬雨', sex:'女', age:19},
		// 			{id:'003', name:'周杰伦', sex:'男', age:20},
		// 			{id:'004', name:'温兆伦', sex:'男', age:20}
		// 		],
		// 		filterPersons:[]
		// 	},
		// 	watch: {
		// 		keyword: {
		// 			immediate: true,
		// 			handler(newValue, oldValue) {
		// 				console.log(newValue);
		// 				this.filterPersons = this.persons.filter((item) => {
		// 					return item.name.indexOf(newValue) != -1
		// 				})
		// 			}
		// 		}
		// 	}
		// })

		//计算属性实现
		new Vue({
			el: '#root',
			data: {
				keyword: '',
				persons: [
					{id:'001', name:'马冬梅', sex:'女', age:18},
					{id:'002', name:'周冬雨', sex:'女', age:19},
					{id:'003', name:'周杰伦', sex:'男', age:20},
					{id:'004', name:'温兆伦', sex:'男', age:20}
				]
			},
			computed: {
				filterPersons: {
					get() {
						return this.persons.filter(item => {
							return item.name.indexOf(this.keyword) != -1
						})
					}
				}
			}
		})
	</script>
</html>